/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {
    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right { float: none; }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

    #login ul {
        margin: 5px 0;
        padding: 0;
    }

    #login li {
        display: inline;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #login a {
        background: none;
        color: #999;
        font-weight: 600;
        margin: 2px;
        padding: 0;
    }

    #login a:hover { color: #333; }

    /* menu */
    nav { margin-bottom: 5px; }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    ul#menu li {
        margin: 0;
        padding: 0;
    }

    .aspMenu div { display: none !important; }

    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content { background-position: 10px 0; }

    .content-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }

    .featured .content-wrapper { padding: 10px; }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

    ol.round li {
        margin: 25px 0;
        padding-left: 10px;
    }

    ol.round li.zero,
    ol.round li.one,
    ol.round li.two,
    ol.round li.three,
    ol.round li.four,
    ol.round li.five,
    ol.round li.six,
    ol.round li.seven,
    ol.round li.eight,
    ol.round li.nine { background: none; }

    /* features */
    section.feature {
        float: none;
        padding: 10px;
        width: auto;
    }

    section.feature img {
        color: #999;
        content: attr(alt);
        font-size: 1.5em;
        font-weight: 600;
    }

    /* forms */
    input { width: 90%; }

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #socialLoginForm {
        float: none;
        margin-left: 0;
        width: auto;
    }

    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right { float: none; }

    footer {
        height: auto;
        padding: 10px 0;
        text-align: center;
    }

    footer p { margin: 0; }

    footer .socialMedia { }

    footer .socialMedia a {
        display: inline-block;
        margin-top: 10px;
    }

    .form, .list { display: none; }

    .myTwitter { display: none; }

    .microsoftProfile { display: none; }

    .GoogleAd { display: none; }
}
/* END: Mobile Styles */