html {
    background-color: #000000;
    margin: 0;
    padding: 0;
}

a img { border: none; }

body {
    background-color: #fff;
    color: #333;
    font-family: "Segoe UI", "Century Gothic", Verdana, Helvetica, Sans-Serif;
    font-size: .85em;
    margin: 0;
    padding: 0;
}

body a {
    color: #49B4E8;
    text-decoration: none;
}

header a { color: #333333; }

.featured a { color: #333333; }

a {
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
}

a:link, a:visited,
a:active, a:hover { }

a:hover { text-decoration: underline; }

header, footer, hgroup,
nav, section { display: block; }

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left { float: left; }

.float-right { float: right; }

.clear-fix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 { font-size: 2em; }

h2 { font-size: 1.75em; }

h3 { font-size: 1.2em; }

h4 { font-size: 1.1em; }

h5, h6 { font-size: 1em; }

h5 a:link, h5 a:visited, h5 a:active {
    padding: 0;
    text-decoration: none;
}

/* main layout
----------------------------------------------------------*/

.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

#body {
    background-color: #ffffff;
    clear: both;
    padding-bottom: 35px;
}

.main-content {
    background: url("../Images/accent.png") no-repeat;
    padding-left: 10px;
    padding-top: 30px;
}

.featured + .main-content { background: url("../Images/heroAccent.png") no-repeat; }

header .content-wrapper { padding-top: 20px; }

footer {
    background-color: #000000;
    clear: both;
    color: #ffffff;
    font-size: .8em;
    height: 100px;
}

footer .socialMedia { }

footer .socialMedia a {
    display: inline-block;
    margin-top: 10px;
}

/* site title
----------------------------------------------------------*/

.site-title {
    color: #c8c8c8;
    font-family: "Segoe UI", "Century Gothic", Rockwell, Consolas, Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}

/* login
----------------------------------------------------------*/

#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

#login a {
    margin-left: 10px;
    margin-right: 3px;
    padding: 2px 3px;
    text-decoration: none;
}

#login a.username {
    background: none;
    margin-left: 0px;
    text-decoration: underline;
}

#login ul { margin: 0; }

#login li {
    display: inline;
    list-style: none;
}

/* menu
----------------------------------------------------------*/

ul#menu {
    font-size: 1.3em;
    font-weight: lighter;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

ul#menu li {
    display: inline;
    list-style: none;
    padding-left: 15px;
}

ul#menu li a {
    background: none;
    color: #999;
    text-decoration: none;
}

ul#menu li a:hover {
    color: #333;
    text-decoration: none;
}

.aspMenu, .aspMenu * { background-color: #FFFFFF; }

.aspMenu div { display: inline-block; }

/* page elements
----------------------------------------------------------*/

/* featured */

.featured { background-color: #fff; }

.featured .content-wrapper {
    background-color: #7ac0da;
    background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
    background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    color: #3e5667;
    padding: 20px 40px 30px 40px;
}

.featured hgroup.title h1, .featured hgroup.title h2 { color: #fff; }

.featured p { font-size: 1.1em; }

/* page titles */

hgroup.title { margin-bottom: 10px; }

hgroup.title h1, hgroup.title h2 { display: inline; }

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */

section.feature {
    float: left;
    padding: 10px;
    width: 300px;
}

/* ordered list */

ol.round {
    list-style-type: none;
    padding-left: 0;
}

ol.round li {
    margin: 25px 0;
    padding-left: 45px;
}

ol.round li.level0 { background: url("../Images/orderedList0.png") no-repeat; }

ol.round li.level1 { background: url("../Images/orderedList1.png") no-repeat; }

ol.round li.level2 { background: url("../Images/orderedList2.png") no-repeat; }

ol.round li.level3 { background: url("../Images/orderedList3.png") no-repeat; }

ol.round li.level4 { background: url("../Images/orderedList4.png") no-repeat; }

ol.round li.level5 { background: url("../Images/orderedList5.png") no-repeat; }

ol.round li.level6 { background: url("../Images/orderedList6.png") no-repeat; }

ol.round li.level7 { background: url("../Images/orderedList7.png") no-repeat; }

ol.round li.level8 { background: url("../Images/orderedList8.png") no-repeat; }

ol.round li.level9 { background: url("../Images/orderedList9.png") no-repeat; }

/* content */

article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}


.label { font-weight: 700; }

/* login page */

#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

#loginForm .validation-error {
    display: block;
    margin-left: 15px;
}

#socialLoginForm {
    float: left;
    margin-left: 40px;
    width: 40%;
}

#socialLoginForm h2 { margin-bottom: 5px; }

fieldset.open-auth-providers { margin-top: 15px; }

fieldset.open-auth-providers button { margin-bottom: 12px; }

/* contact */

.contact h3 { font-size: 1.2em; }

.contact p { margin: 5px 0 0 10px; }

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

fieldset legend { display: none; }

fieldset ol {
    list-style: none;
    padding: 0;
}

fieldset ol li { padding-bottom: 5px; }

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

label.checkbox { display: inline; }

input, textarea {
    background: #fff;
    border: 1px solid #e2e2e2;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

input:focus, textarea:focus { border: 1px solid #7ac0da; }

input[type="checkbox"] {
    background: transparent;
    border: inherit;
    width: auto;
}

input[type="submit"],
input[type="button"],
button {
    background-color: #d3dce0;
    border: 1px solid #787878;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    margin-right: 8px;
    padding: 7px;
    width: auto;
}

td input[type="submit"],
td input[type="button"],
td button {
    font-size: 1em;
    margin-right: 4px;
    padding: 4px;
}

/* info and errors */

.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error { color: #e80c4d; }

/* styles for validation helpers */

.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid { display: none; }

input.input-validation-error { border: 1px solid #e80c4d; }

input[type="checkbox"].input-validation-error { border: 0 none; }

.validation-summary-errors {
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
}

.validation-summary-valid { display: none; }

/* tables
----------------------------------------------------------*/

table {
    border: 0 none;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
}

th {
    border: none 0px;
    font-size: 1.2em;
    padding-left: 0;
    text-align: left;
}

th a {
    display: block;
    position: relative;
}

th a:link, th a:visited, th a:active, th a:hover {
    color: #333;
    font-weight: 600;
    padding: 0;
    text-decoration: none;
}

th a:hover { color: #000; }

th.asc a, th.desc a { margin-right: .75em; }

th.asc a:after, th.desc a:after {
    display: block;
    font-size: 0.75em;
    position: absolute;
    right: 0em;
    top: 0;
}

th.asc a:after { content: '▲'; }

th.desc a:after { content: '▼'; }

td {
    border: 0 none;
    padding: 0.25em 2em 0.25em 0em;
}

tr.pager td { padding: 0 0.25em 0 0; }

a.popout { background: none !important; }

ul.level2 { right: 0 !important; }

.form, .list { }

.form div.field {
    display: inline-block;
    float: left;
    margin-right: 25px;
    width: 400px;
}

.form div.field input[type="text"], .form div.field ajax__htmleditor_editor_base { width: 385px; }

.form div.field.double { width: 825px; }

.form div.field.double input[type="text"], .form div.field.double ajax__htmleditor_editor_base { width: 825px; }

.form div.field input[type="submit"], .form div.field input[type="button"] .form div.field.double input[type="submit"], .form div.field.double input[type="button"] {
    float: right;
    margin-left: 8px;
    margin-right: 0;
}

.blogItem { }

.blogItem p {
    max-width: 850px;
    overflow: hidden;
}

.blogArticleContent {
    border: solid 1px #efefef;
    max-width: 850px;
    overflow-x: auto;
    padding: 5px;
}

a.TagSize1 {
    font-family: Arial;
    font-size: 10px;
    /*color: #FF0000;*/
}

a.TagSize2 {
    font-family: Arial;
    font-size: 15px;
    /*color: #993333;*/
}

a.TagSize3 {
    font-family: Arial;
    font-size: 20px;
    /*color: #0000FF;*/
}

a.TagSize4 {
    font-family: Arial;
    font-size: 30px;
    /*color: #009900;*/
}

a.TagSize5 {
    font-family: Arial;
    font-size: 40px;
    /*color: #9900FF;*/
}

.myTwitter { height: 600px; }

.myTwitter div.tweets { height: 600px; }

.blogArticleContent { }

.blogArticleContent pre {
    font-family: Consolas, 'Courier New';
    font-size: 12px;
}



.powered-by {
    margin-top: 20px;
    width: 100%;
}

.powered-by .powered-by-item {
    float: left;
    margin-bottom: 15px;
    margin-right: 20px;
}

.powered-by .powered-by-item a img { height: 94px; }


.archiveTree ul { padding-left: 10px; }

.archiveTree li { list-style: none; }