<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
                 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                 requirePermission="false" />
    </configSections>
    <connectionStrings>
        <add name="Binary_Digit_BlogEntities_Blogs"
             connectionString="metadata=res://*/Data.Blogs.BlogsModelBase.csdl|res://*/Data.Blogs.BlogsModelBase.ssdl|res://*/Data.Blogs.BlogsModelBase.msl;provider=System.Data.SqlClient;provider connection string='data source=(local)\SQL2012;initial catalog=&quot;Binary Digit Blog&quot;;user id=sa;password=Passw0rd;MultipleActiveResultSets=True;App=EntityFramework'"
             providerName="System.Data.EntityClient" />
        <add name="Binary_Digit_BlogEntities_Blogs2"
             connectionString="metadata=res://*/Data.Blogs.BlogsModelBase.csdl|res://*/Data.Blogs.BlogsModelBase.ssdl|res://*/Data.Blogs.BlogsModelBase.msl;provider=System.Data.SqlClient;provider connection string='data source=(local)\SQL2012;initial catalog=&quot;Binary Digit Blog&quot;;user id=sa;password=Passw0rd;MultipleActiveResultSets=True;App=EntityFramework'"
             providerName="System.Data.EntityClient" />
    </connectionStrings>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="v11.0" />
            </parameters>
        </defaultConnectionFactory>
    </entityFramework>
</configuration>